$pc: 680px;
$menu: 20vw;
$spSidebarWidth: 80%;
$pcSidebarWidth: 200px;
$themeColor: #ff8297;
$sidebar_duration: 300ms;

@mixin media($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}
